.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  background-color: rgb(175, 150, 200);

  .title {
    margin: 10px 0;
    background-color: rgb(175, 150, 200);
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
